<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <div id="logo">
            <img src="imagens/favicon.ico">
        </div>
        <h1><a href="/">Pampa Automóveis</a></h1>
        <h1></h1>
    </header>
    <nav>
        <a href="/">HOME</a>
        <a href="modelos">MODELOS</a>
        <a href="categorias">CATEGORIAS</a>
        <a href="contatos">CONTATOS</a>
    </nav>
    <main>
        <div class="sedans">
            <fieldset>
                <legend>Sedans</legend>
                <img src="https://catalogo.webmotors.com.br/imagens/prod/fotos-temas/CardDesktop/0c5460ff-9f6d-4835-8f93-68e7b8360098_CardDesktop.webp?s=fill&w=274&h=216&q=70"
                    alt="Sedans">
            </fieldset>
        </div>
        <div class="hatches">
            <fieldset>
                <legend>Hatches</legend>
                <img src="https://catalogo.webmotors.com.br/imagens/prod/fotos-temas/CardDesktop/b1031e00-138f-4a25-a092-5b9b9dda4e59_CardDesktop.webp?s=fill&w=274&h=216&q=70"
                    alt="Hatches">
            </fieldset>
        </div>
        <div class="suvs">
            <fieldset>
                <legend>SUVs</legend>
                <img src="https://catalogo.webmotors.com.br/imagens/prod/fotos-temas/CardDesktop/5454c853-5b20-48af-a9a4-9051b3c9ab6b_CardDesktop.webp?s=fill&w=274&h=216&q=70"
                    alt="SUVs">
            </fieldset>
        </div>
        <div class="picapes">
            <fieldset>
                <legend>Picapes</legend>
                <img src="https://catalogo.webmotors.com.br/imagens/prod/fotos-temas/CardDesktop/2e948af3-f8a6-41e0-a8da-594248b7c4bc_CardDesktop.webp?s=fill&w=274&h=216&q=70"
                    alt="Picapes">
            </fieldset>
        </div>
    </main>
    <footer>
        <div class="info">
            <div class="expediente">
                <h3>Horário de funcionamento</h3>
                <p>Segunda a Sexta: das 8h - 12h | 13:30 - 18h</p>
                <p>Sábados: das 8h - 12h</p>
                <p>Domingos e feriados: fechados</p>
            </div>
            <div class="enderecos">
                <h3>Endereços</h3>
                <p>Avenida Brasil, 1451, Centro, Sertão/RS</p>
                <p>Rua Arcângelo Giacomazzi, 2794, Santuário, Estação/RS</p>
            </div>
            <div class="redes-sociais">
                <h3>Siga-nos nas redes sociais</h3>
                <div class="redes">
                    <a href="www.facebook.com" target="_blank"><img
                            src="https://th.bing.com/th/id/R.9de2299692d3a68082cedbf88c5c30ed?rik=P%2fKZ7KZT1OY5gQ&riu=http%3a%2f%2fwww.skellyloy.com%2fimages%2fsocial%2ffacebook-64.png&ehk=C5ZixpRiFReuxY4G083wrDRpk6rkVsJtvAD2PqIWZp0%3d&risl=&pid=ImgRaw&r=0"
                            alt="Facebook"></a>
                    <a href="www.instagram.com" target="_blank"><img
                            src="https://th.bing.com/th/id/R.6c1bfade9ecd5c39d263a3810c40f220?rik=zopIjEtPrjoEkw&riu=http%3a%2f%2facegikmo.com%2fimages%2flogo_instagram.png&ehk=V%2bLKjDQSqzA6%2b7hoX38Xxq9xdL%2fEeBFnotUkbDC8E6Y%3d&risl=&pid=ImgRaw&r=0"
                            alt="Instagram"></a>
                    <a href="www.youtube.com" target="_blank"><img
                            src="https://www.mrmethane.com/images/social-icon-youtube.png" alt="You Tube"></a>
                    <a href="www.linkedin.com" target="_blank"><img
                            src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        <span>2023 Pampa Automóveis</span>
    </footer>
</body>

</html>